@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

// Default background/text color + side margin (mobile)
body {
    background-color: $bg-color;
    color: $text-color;
    margin: 0 10vw;
}

::-webkit-scrollbar { // scrollbar width
width: $font-small; 
height: $font-small; 
}

::-webkit-scrollbar-track { // scrollbar background color
background: $bg-color; 
}

::-webkit-scrollbar-thumb { // scrollbar default color
background-color: rgba($primary-color, 0.5); 
border-radius: .2rem;
}

::-webkit-scrollbar-thumb:hover { // scrollbar hover color
background-color: rgba($primary-color, 1); 
}

#app {
    padding-top: 3rem; // nav bar
}

h1 {
    font-size: $font-xl; 
    font-weight: 600;
    letter-spacing: -0.02em;
    text-align: center;  
    @include gradient-text();
}
h2 {
    font-size: $font-large;
    font-weight: 300;
    letter-spacing: -0.01em;
    color: $primary-color;
    text-align: center;
    
}
h3 {
    font-size: $font-med;
    color: $text-color;
    font-weight: 300;
}
h4 {
    font-size: $font-small;
    color: $primary-color;
    font-weight: 300;
}
p {
    font-size: $font-small;
}
button {
    padding: 1rem 2rem;
    border: 2px solid $primary-color;
    border-radius: 2rem;
    background-color: $bg-color;
    color: $primary-color;
    font-size: $font-small;
    font-weight: bold;
    transition: all 200ms;

    &:hover {
        background-color: rgba($primary-color, 0.9);
        border-color: rgba($primary-color, 0.9);
        color: $text-color;
    }
}
